---
import Card from "@/components/Card.astro";
import PageLayout from "@/layouts/Base.astro";


const meta = {
	description: "Meet our team members",
	title: "Team Profiles",
};

const profiles = [
	{
		name: "Wayne Zhao",
		image: "wayne-zhao.jpg",
		position: "President",
		bio: "I am low-key in love with TheBird's spicy chicken sandwich",
	},
	{
		name: "Meghan Shen",
		image: "meghan-shen.jpg",
		position: "Vice President",
		bio: "I like to eat eggs in all forms",
	},
	{
		name: "Yuan Chiang",
		image: "yuan-chiang.jpg",
		position: "Bytekeeper",
		bio: "I love keeping my bytes in dance and glitches at the bay",
	},
	{
		name: "Madelyn Payne",
		image: "madelyn-payne.jpg",
		position: "GA Delegate",
		bio: "I still ride my skateboard from 9th grade"
	},
	{
		name: "Grace Wei",
		image: "grace-wei.jpg",
		position: "Orientation Committee Lead / Social Events Committee",
		bio: "Fun fact: I collect playing cards"
	},
	{
		name: "Mark Ma",
		image: "mark-ma.jpeg",
		position: "Academic/Industry Liaison",
		bio: "I do a lot of simulations, both in research and video games :)"
	},
	{
		name: "Shilong Wang",
		image: "shilong-wang.jpg",
		position: "International Student Advocate",
		bio: "I love playing badmiton!"
	},
	{
		name: "Yu-Jen Chiu",
		image: "yu-jen-chiu.jpeg",
		position: "Finance",
		bio: "My mom named me after a famous green dinosaur 🦖"
	},
	{
		name: "Eric Weiner",
		image: "eric-weiner.jpeg",
		position: "Social Events Committee",
		bio: ""
	},
	{
		name: "Prathami Kamath",
		image: "prathami-kamath.jpeg",
		position: "International Student Advocate",
		bio: "My perfect day is either a cozy day at home with a book or hiking up a mountain trail – no in-between"
	}
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Team</h1>
		<p>
			Meet the graduate student council team members who work hard for the success of our fellow MSE students 💙
		</p>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{profiles.map((profile) => (
				<Card
					name={profile.name}
					imagePath={`/src/assets/about/${profile.image}`}
					altText={`Profile picture of ${profile.name}`}
					position={profile.position}
					bio={profile.bio}
				/>
			))}
		</div>
	</div>
</PageLayout>