---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";


interface Props {
	name: string;
	imagePath: string;
	altText: string;
	position: string;
	bio: string;
}

const { name, imagePath, altText, position, bio } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/about/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/assets/about/*.{jpeg,jpg,png,gif}"`);
---

<div class="card">
    <div class="flex flex-col items-center space-y-4 p-6 rounded-lg group text-center">
        <div class="w-48 h-48 rounded-full overflow-hidden">
            <Image 
                src={images[imagePath]()} 
                alt={altText}
                class="w-full h-full object-cover filter grayscale transition-all duration-300 ease-in-out group-hover:filter-none"
                width="1000"
                height="1000"
            />
        </div>
        <h3 class="text-sm font-semibold">{name}</h3>
        <h3 class="text-xs text-gray-600 dark:text-gray-400">{position}</h3>
        <p class="text-xs text-center">{bio}</p>
    </div>
</div>